{% extends 'base.html.twig' %}

{# @link https://www.bootdey.com/snippets/view/chat-app #}
{% block body %}
    <!-- char-area -->
    <section class="message-area">
        <div class="container">
            <turbo-frame id="container">
            <div class="row">
                <div class="col-12">
                    <div class="chat-area">
                        <!-- chatlist -->
                        <div class="chatlist">
                            <div class="modal-dialog-scrollable">
                                {{ component('chats_list', {class: 'modal-content'}) }}
                            </div>
                        </div>
                        <!-- chatlist -->

                        <!-- chatbox -->
                            <div class="chatbox">
                                <div class="modal-dialog-scrollable">
                                    <turbo-frame id="chatbox">
                                        {{ component('chatbox', { class: 'modal-content', id }) }}
                                    </turbo-frame>
                                </div>
                            </div>
                    </div>
                    <!-- chatbox -->

                </div>
            </div>
            </turbo-frame>
        </div>
    </section>
    <!-- char-area -->
{% endblock %}
